//*mixins*//
@import "./mixin.scss";

/*test block*/
.header {
  width: 100%;
  height: 10vh;
  .header__row {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--brand {
      width: 10%;
      a {
        display: block;
        text-decoration: none;
      }
    }
    &--menu {
      width: 60%;
    }
    &--buttons {
      width: 10%;
      display: flex;
      justify-content: space-between;
      a {
        display: block;
        padding: 0.8rem;
        text-decoration: none;
        transition: background-color 0.2s ease;
        cursor: pointer;
        i {
          color: #8b8b8b;
          transition: color 0.2s ease;
        }
        &:hover {
          background-color: $gray;
          i{
            color: $black;
          }
        }
      }
    }
  }
}
.nav__menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  &--link {
    display: block;
    padding: 0.8rem;
    text-decoration: none;
    font-size: 1.6rem;
    font-family: $font;
    color: #8b8b8b;
    line-height: 1.917;
    text-transform: uppercase;
    font-weight: 600;
    transition: background-color 0.2s ease, color 0.2s ease;
    cursor: pointer;
    &:hover {
      background-color: $gray;
      color: $black;
    }
  }
}