//*colors Variable*//
$black: #000000;
$white: #ffffff;

//*fonts Variable*//
$font: 'Ubuntu', sans-serif;


//*media Variable*//
$mobile-xxsm: 350px;
$mobile-xsm: 400px;
$mobile-sm: 576px;
$mobile: 768px;
$tablet: 991px;
$notebook: 1366px;