/*google foonts*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
/*==================*/
/*normalize css https://necolas.github.io/normalize.css/ */
@import "vendor/normalize.scss";
//*variables*//
@import "./var.scss";
//*helpers class*//
@import "./help.scss";
//*mixins*//
@import "./mixin.scss";
/*main style*/
html{
  font-size: 10px;
  overflow-x: hidden;
}
body{
  font-family: $font;
  font-size: 1.6rem;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  color: $black;
  margin: 0;
  padding: 0;
  background-color: $white;
  overflow-x: hidden;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
a {
  &:focus {
    outline: none;
  }
}
/*==============block=============*/
/*container*/
@import "block/container.scss";
/*header*/
@import "block/header.scss";
