/*google foonts*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap");
/*==================*/
/*normalize css https://necolas.github.io/normalize.css/ */
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

main {
    display: block;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.text__left {
    text-align: left;
}

.text__right {
    text-align: right;
}

.text__center {
    text-align: center;
}

.mt-6 {
    margin-top: 6rem;
}

@media (max-width: 991px) {
    .mt-6 {
        margin-top: 4rem;
    }
}

@media (max-width: 768px) {
    .mt-6 {
        margin-top: 2rem;
    }
}

.mt-5 {
    margin-top: 5rem;
}

.mt-4 {
    margin-top: 4rem;
}

@media (max-width: 768px) {
    .mt-4 {
        margin-top: 2rem;
    }
}

.mt-3 {
    margin-top: 3rem;
}

.mt-2 {
    margin-top: 2rem;
}

@media (max-width: 991px) {
    .mt-2 {
        margin-top: 1rem;
    }
}

/*main style*/
* {
    border: 0;
}

html {
    font-size: 10px;
    overflow-x: hidden;
}

body {
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    color: #171717;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/*nav,footer,header,aside{
  display: block;
}*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
    margin: 0;
}

p {
    margin: 0;
}

img {
    vertical-align: top;
}

input {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    font-family: inherit;
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

textarea {
    font-family: inherit;
}

:focus {
    outline: none;
}

:active {
    outline: none;
}

a:focus {
    outline: none;
}

a:active {
    outline: none;
}

/*==============block=============*/
/*container*/
.container {
    max-width: 1340px;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
}

@media (max-width: 1366px) {
    .container {
        max-width: 1160px;
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 980px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 740;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 560px;
    }
}

.container-fluid {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
}

/*header*/
/*test block*/
.header {
    width: 100%;
    height: 10vh;
}

.header .header__row {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header__row--brand {
    width: 10%;
}

.header .header__row--brand a {
    display: block;
    text-decoration: none;
}

.header .header__row--menu {
    width: 60%;
}

.header .header__row--buttons {
    width: 10%;
    display: flex;
    justify-content: center;
}

.header .header__row--buttons a {
    display: block;
    padding: 0.8rem;
    text-decoration: none;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

.header .header__row--buttons a i {
    color: #8b8b8b;
    transition: color 0.2s ease;
}

.header .header__row--buttons a:hover {
    background-color: #f8f8f8;
}

.header .header__row--buttons a:hover i {
    color: #171717;
}

.nav__menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.nav__menu--link {
    display: block;
    padding: 0.8rem;
    text-decoration: none;
    font-size: 1.6rem;
    font-family: "Montserrat", sans-serif;
    color: #8b8b8b;
    line-height: 1.917;
    text-transform: uppercase;
    font-weight: 600;
    transition: background-color 0.2s ease, color 0.2s ease;
    cursor: pointer;
}

.nav__menu--link:hover {
    background-color: #f8f8f8;
    color: #171717;
}

/*burger*/
.burger__btn {
    display: none;
    visibility: hidden;
    position: relative;
    width: 32px;
    height: 32px;
    transition: background-color 0.2s linear;
}

.burger__btn span {
    display: block;
    height: 0.1rem;
    width: 2.6rem;
    background-color: #8b8b8b;
    position: absolute;
    left: 0.3rem;
    top: calc(50% - 0.1rem);
    transition: background-color 0.2s linear, width 0.1s linear, transform 0.2s linear;
}

.burger__btn span:first-child {
    top: calc(25% - 0.1rem);
}

.burger__btn span:last-child {
    top: calc(75% - 0.1rem);
}

.burger__btn:hover {
    cursor: pointer;
    background-color: #f8f8f8;
}

.burger__btn:hover span {
    background-color: #171717;
}

.burger__btn--active span:first-child {
    width: 0;
}

.burger__btn--active span:nth-child(2) {
    transform: rotate(45deg);
}

.burger__btn--active span:nth-child(3) {
    transform: rotate(-45deg);
}

.burger__btn--active span:last-child {
    width: 0;
}

/*intro*/
.intro {
    border-top: 3px solid #f3ebdc;
    width: 100%;
    height: 90vh;
    overflow: hidden;
}

.intro__row {
    width: 100%;
    height: 100%;
    position: relative;
}

.intro__content {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 96.5625%;
    height: 100%;
}

.intro__content--title {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    height: 100%;
    width: 55%;
    padding-top: 12rem;
}

.intro__content--title h1 {
    font-size: 13rem;
    font-family: "Montserrat", sans-serif;
    color: #171717;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 3rem;
}

.intro__content--title p {
    font-size: 1.8rem;
    font-family: "Montserrat", sans-serif;
    color: #171717;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 3rem;
}

.intro__content--title p span {
    font-weight: 700;
}

.intro__content--title button {
    width: 12rem;
    height: 3.5rem;
    background-color: transparent;
    border: 1px solid #171717;
    border-radius: 2rem;
    transition: background-color 0.2s linear, color 0.2s linear;
    text-transform: uppercase;
    color: #171717;
}

.intro__content--title button:hover {
    background-color: #171717;
    color: #f8f8f8;
}

.intro__content--baner {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 33.85417%;
}

.title__buttons {
    margin-bottom: 3rem;
}

.title__buttons button {
    width: 3.5rem;
    height: 3.5rem;
    background-color: transparent;
    border: 1px solid #171717;
    border-radius: 50%;
    transition: background-color 0.2s linear;
    margin-right: 1.5rem;
}

.title__buttons button i {
    transition: color 0.2s linear;
}

.title__buttons button:last-child {
    margin-right: 0;
}

.title__buttons button:hover {
    cursor: pointer;
    background-color: #171717;
}

.title__buttons button:hover i {
    color: #f8f8f8;
}

.title__description {
    width: 30%;
}

.social__links {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 3.4375%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ededed;
}

.social__links a {
    display: block;
    margin-bottom: 2.5rem;
    text-decoration: none;
}

.social__links a:last-child {
    margin-bottom: 0;
}

.social__links a i {
    color: #171717;
    font-size: 1.8rem;
    transition: color 0.2s linear;
}

.social__links a:hover {
    cursor: pointer;
}

.social__links a:hover i {
    color: #000;
}

/*product*/
.product__row--header {
    width: 70%;
    margin: 0 auto;
}

.product__row--header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.product__row--header ul li a {
    font-size: 2.6rem;
    font-family: "Montserrat", sans-serif;
    color: #3a3835;
    font-weight: 700;
    text-decoration: none;
    transition: color 0.3s linear;
}

.product__row--header ul li a:hover {
    color: #171717;
    cursor: pointer;
}

.product__row--content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.col__content:nth-child(1) {
    width: 24.35897%;
}

.col__content:nth-child(1) picture:first-child {
    display: inline-block;
    margin-bottom: 2rem;
}

.col__content:nth-child(2) {
    width: 40.59829%;
    position: relative;
}

.col__content:nth-child(3) {
    width: 31.62393%;
}

.col__content:nth-child(3) picture:first-child {
    display: inline-block;
    margin-bottom: 2rem;
}

.content__description {
    position: absolute;
    top: 30%;
    left: 10%;
}

/*==============vendor=============*/
/*slick slider*/
.slick-slider {
    position: relative;
    height: 100%;
    width: 100%;
}

.slick-list {
    overflow: hidden;
}

.slick-slide {
    float: left;
}

[dir="rtl"] .slick-slide {
    float: right;
}

.slick-prev {
    position: absolute;
    z-index: 5;
    top: 20%;
    right: 15.625%;
    font-size: 0;
    color: transparent;
    background-color: #171717;
    height: 0.2rem;
    width: 4.2rem;
    transition: background-color 0.2s linear;
}

.slick-prev::before {
    content: "PREV";
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
    z-index: 2;
    position: absolute;
    bottom: 60%;
    left: 0;
    width: 100%;
    color: #171717;
    transition: color 0.2s linear;
}

.slick-prev:hover {
    background-color: #f8f8f8;
}

.slick-prev:hover::before {
    color: #f8f8f8;
}

.slick-next {
    position: absolute;
    z-index: 5;
    top: 24%;
    right: 15.625%;
    font-size: 0;
    color: transparent;
    background-color: #171717;
    height: 0.2rem;
    width: 4.2rem;
    transition: background-color 0.2s linear;
}

.slick-next::before {
    content: "NEXT";
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
    z-index: 2;
    position: absolute;
    bottom: 60%;
    left: 0;
    width: 100%;
    color: #171717;
    transition: color 0.2s linear;
}

.slick-next:hover {
    background-color: #f8f8f8;
}

.slick-next:hover::before {
    color: #f8f8f8;
}
